body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://coolwallpapers.me/th700/5058413-abstract-digital-art-fractal-lines-red-spiral.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 200px;
}

h2{
    height: 40px;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    transition: 0.4s ease;
    text-align: center;
}
b{
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.4em;
  color: floralwhite;
}

input[type=text], input[type=password] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #e74c3c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 65%;
  font-family: 'Poppins',sans-serif;
  font-size: 30px;
}

button:hover {
  opacity: 0.8;
  background: #fff;
  color: #e74c3c;
}
